# See clientdevbridge.accesswidener for why each of these is needed; the two files must stay in sync.
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen imageWidth
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen imageHeight
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen leftPos
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen topPos
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen hoveredSlot
public net.minecraft.client.gui.screens.Screen renderables
public net.minecraft.client.gui.components.AbstractSliderButton value
public net.minecraft.client.MouseHandler xpos
public net.minecraft.client.MouseHandler ypos
public net.minecraft.client.gui.components.AbstractWidget tooltip
public net.minecraft.client.gui.components.WidgetTooltipHolder tooltip
